<header>
            <h1 style='line-height: 0em;'>{{ site.name }}</h1>
<hr>
</header>

<table style='display: block;margin-left: auto;margin-right: auto;width: 70%;'>
    <tr>
    <td>
        <img src="{{ '/assets/images/cosenkid.jpg' | relative_url }}" height="100"  alt="Ngoc Bui" class='profile'/>
    </td>
    <td>    
        <h3>Ngoc Bui</h3>
        {% for job in site.data.infos.jobs %}
          <span>{{job.position}} at {{job.institute}}</span> <br>
        {% endfor %}
        <div style="margin-top:0em;margin-bottom:0.75em"></div>
        <span style="margin-top:0em;margin-bottom:0.75em">Email: ngoc (dot) bui (at) yale (dot) edu | ngocbh (dot) pt (at) gmail (dot) com</span>
        <br>
         <a href='/'>Home</a>  |
         <!-- <a href='#contact/'> Contacts</a> |  -->
         <a href='/assets/pdf/resume.pdf' target="_blank"> Résumé</a> | 
         <a href='/blog/'> Blog</a> | 
         <a href='https://github.com/ngocbh' target="_blank"> Github</a> | 
         <a href='/archive/'> Archive</a> 
    </td>
</tr>
</table>


