<header>
            <h1 style='line-height: 0em;'>{{ site.name }}</h1>
<hr>
</header>

<table style='display: block;margin-left: auto;margin-right: auto;width: 50%;'>
    <tr>
    <td>
        <img src="{{ '/assets/images/profile_picture.png' | relative_url }}" height="150"  alt="Ngoc Bui" class='profile'/>
    </td>
    <td>    
        <h3>Ngoc (Hong) Bui</h3>
        {% for job in site.data.infos.jobs %}
          <span>A {{job.position}} at {{job.institute}}</span> <br>
        {% endfor %}
        <div style="margin-top:0em;margin-bottom:0.75em"></div>
        <span style="margin-top:0em;margin-bottom:0.75em">Email: ngocbh.pt (at) gmail (dot) com</span>
        <br>
         <a href='/'>Home</a>  |
         <a href='#contact/'> Contacts</a> | 
         <a href='/assets/pdf/ngocbh_resume.pdf' target="_blank"> Résumé</a> | 
         <!-- <a href='/blog/'> Blog</a> |  -->
         <a href='https://github.com/ngocbh' target="_blank"> Github</a> | 
         <a href='/archive/'> Archive</a> 
    </td>
</tr>
</table>


