<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <title>
        {% if page.title %}
            {{ page.title }}
        {% else %} 
            {{ site.name }} &mdash; {{ site.description }}
        {% endif %}
    </title>

    {% if site.highlighter %}
        <link rel='stylesheet' href='{{ site.url }}/assets/css/syntax.css' type='text/css'>
    {% endif %}
        <link rel='stylesheet' href='{{ site.url }}/assets/css/layout.css' type='text/css'>

    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="shortcut icon" href="{{ '/assets/images/cosenkid_favicon.png' | relative_url }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
    <script type="text/javascript" id="clustrmaps" src="//clustrmaps.com/map_v2.js?d=rxb0DhcyO5QJK6Kut8taM4mhkrv2X0gNtenxJDEm1M8&cl=ffffff&w=a"></script>

</head>

<body>
    {% include header.html %}

    {{ content }}

    <!-- {% include footer.html %} -->
</body>

<script type="text/javascript">
    var pageSize = {{ site.new_size }};

    // Lấy ra tất cả li trong cái list đó
    var tags = Array.from(document.querySelectorAll("#newList li"));
    // Cắt ra 10 thằng đầu tiên để hiển thị, tags array sẽ mất đi 10 cái
    var showTags = tags.splice(0, pageSize);

    // Lấy dom để chứa content
    const content = document.getElementById("content");

    // Hàm show content nhận vào list tags cần show
    const showContent = (tags) => {
      tags.map((x) => content.appendChild(x));
    };

    // Gọi lần đầu ra
    showContent(showTags);

    // query nut load more
    var button = document.getElementById("loadmore");

    // Lần đầu show mà ko đủ 10 cái thì ẩn nút loadmore đi
    if (tags.length === 0) {
      button.style.display = "none";
    }

    // Add sự kiện vào nút loadmore
    button.addEventListener("click", () => {
      // Khi ấn thì cắt 10 cái tiếp ở tags cho vào showTags
      showTags = [...showTags, ...tags.splice(0, pageSize)];
      showContent(showTags);
      // Nếu tags hết thì ẩn nút loadmore
      if (tags.length === 0) {
        button.style.display = "none";
      }
    });

</script>
</html>
